<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="answer">
  <div class="card">
    <div class="card-body">
      <h1>Stupid Coaching</h1>
      <p> <%= @question %> </p>
      <p> <i> - You </i></p>
      <p class="alert alert-warning" role="alert"> <%= @answer %> </p>
      <p> <i> - Your coach </i></p>
      <%= link_to "Ask a new question", ask_path %>
    </div>
  </div>
</div>

