<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="card">
  <div class="card-body">
    <h1>Stupid Coaching</h1>
    <p>Ask your coach anything:</p>
    <form class="form-inline" action="/answer"  method="get">
      <div class="form-group">
        <input type="text" class="form-control mb-2" name="question">
      </div>
      <button type="submit" class="btn btn-primary mb-2"> Ask! </button>
    </form>
  </div>
</div>
